.register {
  &__form {
    width: 22vw;

    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 1, 42, 0.301);
    border: 1px solid rgb(0, 1, 42);
    border-radius: 7px;
    padding: 0px 30px 30px 30px;
    button {
      margin-top: 20px;
    }
    input,
    textarea {
      margin-top: 10px;
    }
    label {
      margin: 5px 0px 0px 0px;
    }
  }
}
